<p>
  <a href="{{site.swc_site}}">ソフトウェア・カーペントリー</a>
  は、研究のための基本的なコンピューティング・スキルを教えることで、
  研究者がもっと速く、もっと楽に仕事ができるようにすることを目的としています。
  このハンズオン・ワークショップでは、プログラム設計、バージョン管理、データ管理、タスクの自動化などの基本的な概念とツールについて学びます。
  参加される方々は、ぜひ、お互いに助け合い、学んだことを自分の研究に活かしてください。
</p>
<p><strong>このワークショップは日本語で行われます。</strong></p>
<p align="center">
  <em>
    私たちが何を教えているのか、なぜ教えているのかについての詳細は、こちらの論文
    「<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>」
    （サイエンス・コンピューティングのベストプラクティス）をご覧ください。
  </em>
</p>
