<div class="row">
  <div class="col-md-6">
    <h3>4月2日（金）
    </h3>
    <table class="table table-striped">
      <tr> <td>事前準備</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">ワークショップ前のアンケート</a> </td> </tr>
      <tr> <td>10:00</td>  <td>R、RStudio、Rのパッケージのインストール</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>4月7日（水）</h3>
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td>導入</td> </tr>
      <tr> <td>10:10</td>  <td>RとRStudioの入門</td> </tr>
      <tr> <td>11:00</td>  <td>休憩</td> </tr>
      <tr> <td>11:10</td>  <td>RStudioのプロジェクト管理</td> </tr>
      <tr> <td>11:30</td>  <td>ヘルプ機能</td> </tr>
      <tr> <td>12:00</td>  <td>終了</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>4月9日（金）</h3>
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td>データ構造</td> </tr>
      <tr> <td>11:00</td>  <td>休憩</td> </tr>
      <tr> <td>11:10</td>  <td>データフレームの内容を確認</td> </tr>
      <tr> <td>12:00</td>  <td>終了</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>4月14日（水）</h3>
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td>データの部分集合化</td> </tr>
      <tr> <td>11:00</td>  <td>休憩</td> </tr>
      <tr> <td>11:10</td>  <td>ggplot2を使用した出版物並みの品質のグラフィックの作成</td> </tr>
      <tr> <td>12:00</td>  <td>終了</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>4月16日（金）</h3>
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td>ggplot2を使用した出版物並みの品質のグラフィックの作成 (続き)</td> </tr>
      <tr> <td>11:00</td>  <td>休憩</td> </tr>
      <tr> <td>11:10</td>  <td>knitrを使用したレポート作成</td> </tr>
      <tr> <td>12:00</td>  <td>終了</td> </tr>
    </table>
  </div>
</div>
