<div class="row">
  <div class="col-md-6">
    <h3>4月2日（金）
    </h3>
    <table class="table table-striped">
      <!-- #### Temporarily comment-out survey until we get it set up #### <tr> <td>事前準備</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">ワークショップ前のアンケート</a> </td> </tr> -->
      <tr> <td>10:00</td>  <td>R、RStudio、Rのパッケージのインストール</td> </tr>
      <tr> <td>12:00</td>  <td>終了</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>4月7日（水）</h3>
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td>挨拶</td> </tr>
      <tr> <td>10:10</td>  <td><a href="https://swcarpentry-ja.github.io/r-novice-gapminder/ja/_episodes/01-rstudio-intro/index.html">R とRStudio の入門</a></td> </tr>
      <tr> <td>11:00</td>  <td>休憩</td> </tr>
      <tr> <td>11:10</td>  <td><a href="https://swcarpentry-ja.github.io/r-novice-gapminder/ja/_episodes/02-project-intro/index.html">RStudio のプロジェクト管理</a></td> </tr>
      <tr> <td>11:30</td>  <td><a href="https://swcarpentry-ja.github.io/r-novice-gapminder/ja/_episodes/03-seeking-help/index.html">ヘルプ機能</a></td> </tr>
      <tr> <td>12:00</td>  <td>終了</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>4月9日（金）</h3>
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td><a href="https://swcarpentry-ja.github.io/r-novice-gapminder/ja/_episodes/04-data-structures-part1/index.html">データ構造</a></td> </tr>
      <tr> <td>11:00</td>  <td>休憩</td> </tr>
      <tr> <td>11:10</td>  <td><a href="https://swcarpentry-ja.github.io/r-novice-gapminder/ja/_episodes/05-data-structures-part2/index.html">データフレームの内容を確認</a></td> </tr>
      <tr> <td>12:00</td>  <td>終了</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>4月14日（水）</h3>
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td><a href="https://swcarpentry-ja.github.io/r-novice-gapminder/ja/_episodes/06-data-subsetting/index.html">データの部分集合化</a></td> </tr>
      <tr> <td>11:00</td>  <td>休憩</td> </tr>
      <tr> <td>11:10</td>  <td><a href="https://swcarpentry-ja.github.io/r-novice-gapminder/ja/_episodes/08-plot-ggplot2/index.html">ggplot2 を使用した出版物並みの品質のグラフィックの作成</a></td> </tr>
      <tr> <td>12:00</td>  <td>終了</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>4月16日（金）</h3>
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td><a href="https://swcarpentry-ja.github.io/r-novice-gapminder/ja/_episodes/08-plot-ggplot2/index.html">ggplot2 を使用した出版物並みの品質のグラフィックの作成 (続き)</a></td> </tr>
      <tr> <td>11:00</td>  <td>休憩</td> </tr>
      <tr> <td>11:10</td>  <td><a href="https://swcarpentry-ja.github.io/r-novice-gapminder/ja/_episodes/15-knitr-markdown/index.html">knitr によるレポートの作成</a></td> </tr>
      <tr> <td>12:00</td>  <td>終了</td> </tr>
    </table>
  </div>
</div>
