<div class="row">
  <div class="col-md-6">
    <h3>April 2</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>10:00</td>  <td>Install R, RStudio, and R packages</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>April 7</h3>
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td>Welcome</td> </tr>
      <tr> <td>10:10</td>  <td>Introduction to R and RStudio</td> </tr>
      <tr> <td>11:00</td>  <td>Break</td> </tr>
      <tr> <td>11:10</td>  <td>Project Management with RStudio</td> </tr>
      <tr> <td>11:30</td>  <td>Seeking Help</td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>April 9</h3>
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td>Data Structures</td> </tr>
      <tr> <td>11:00</td>  <td>Break</td> </tr>
      <tr> <td>11:10</td>  <td>Exploring Data Frames</td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>April 14</h3>
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td>Subsetting Data</td> </tr>
      <tr> <td>11:00</td>  <td>Break</td> </tr>
      <tr> <td>11:10</td>  <td>Creating Publication-Quality Graphics with ggplot2</td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>April 16</h3>
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td>Creating Publication-Quality Graphics with ggplot2 (continued)</td> </tr>
      <tr> <td>11:00</td>  <td>Break</td> </tr>
      <tr> <td>11:10</td>  <td>Producing Reports With knitr</td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
