<div id="r">
  <h3>R</h3>

  <p>
    <a href="https://www.r-project.org">R</a>は、
    特にデータの探索、可視化、統計解析に力を発揮するプログラミング言語です。
    Rを使うために、
    <a href="https://www.rstudio.com/">RStudio</a>を使用します。
  </p>

  <div>
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a data-os="windows" href="#rstats-windows" aria-controls="Windows" role="tab" data-toggle="tab">Windows</a></li>
      <li role="presentation"><a data-os="macos" href="#rstats-macos" aria-controls="MacOS" role="tab" data-toggle="tab">MacOS</a></li>
      <li role="presentation"><a data-os="linux" href="#rstats-linux" aria-controls="Linux" role="tab" data-toggle="tab">Linux</a></li>
    </ul>

    <div class="tab-content">
      <article role="tabpanel" class="tab-pane active" id="rstats-windows">
        <p>
          <a href="https://cran.r-project.org/index.html">CRAN</a>から
          <a href="https://cran.r-project.org/bin/windows/base/release.htm">.exeファイル</a>をダウンロードして実行することで
          Rをインストールします。
          加えて、
          <a href="https://www.rstudio.com/products/rstudio/download/#download">RStudio IDE</a>もインストールしてください。

          注意：ユーザーアカウントと管理者アカウントを分けている場合は、
          管理者としてインストーラを実行してください
          (.exeファイルをダブルクリックではなく右クリックして、「管理者として実行」を選択してください)。
          そうしないと、例えば、Rパッケージをインストールする際などに、問題が発生する可能性があります。

        </p>
        <h4>動画チュートリアル</h4>
        <div class="yt-wrapper2">
        <div class="yt-wrapper">
        <iframe type="text/html" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" src="https://www.youtube-nocookie.com/embed/q0PjTAylwoU?modestbranding=1&playsinline=1&iv_load_policy=3&rel=0" class="yt-frame" allowfullscreen></iframe>
        </div>
        </div>
      </article>
      <article role="tabpanel" class="tab-pane" id="rstats-macos">
        <p>
          <a href="https://cran.r-project.org/index.html">CRAN</a>の
          <a href="https://cran.r-project.org/bin/macosx/R-latest.pkg">.pkg ファイル</a>
          をダウンロードして実行し、Rをインストールしてください。
          加えて、
          <a href="https://www.rstudio.com/products/rstudio/download/#download">RStudio IDE</a>もインストールしてください。
        </p>
        <h4>動画チュートリアル</h4>
        <div class="yt-wrapper2">
        <div class="yt-wrapper">
        <iframe type="text/html" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" src="https://www.youtube-nocookie.com/embed/5-ly3kyxwEg?modestbranding=1&playsinline=1&iv_load_policy=3&rel=0" class="yt-frame" allowfullscreen></iframe>
        </div>
        </div>
      </article>
      <article role="tabpanel" class="tab-pane" id="rstats-linux">
        <p>
          配布用のバイナリファイルを<a href="https://cran.r-project.org/index.html">CRAN</a>からダウンロードできます。
          もしくは、パッケージマネージャを利用できます (例：Debian/Ubuntuで<code>sudo apt-get install r-base</code> を実行、
          またはFedoraで
          <code>sudo dnf install R</code>を実行)。 加えて
          <a href="https://www.rstudio.com/products/rstudio/download/#download">RStudio IDE</a>インストールしてください。
        </p>
      </article>
    </div>
  </div>
</div>
