
<h3 id="videoconferencing">ビデオ会議クライアントのインストール</h3>

{% comment %}
ズームを使用しない場合は以下の段落を関連するインストール手順に置き換えてください。
{% endcomment %}
<p>
  Zoomを利用したことがない場合は、
  <a href="https://zoom.us/download">公式ウェブサイト</a>
  でご利用のコンピュータにZoomクライアントをダウンロードしてインストールしてください。
</p>


<h4>ワークスペースのセットアップ</h4>

<p>
  他のCarpentriesのワークショップのように、
  あなたはインストラクターと「一緒にコーディング」することによって学んでいきます。
  そのためには、学習するツール（ターミナル、RStudio、Webブラウザなど）のウィンドウと、
  Zoomのクライアントのウィンドウの両方を同時に開いている必要があります。
  そのためには、以下の設定オプションのいずれかを使用することをお勧めします。
  <ul>
    <li><strong>二つのモニター:</strong> モニターが2つある場合、
      片方のモニターには学習中のツールを、
      もう片方のモニターにはビデオ会議ソフトウェアを使用するようにしてください。</li>
    <li><strong>二つのデバイス:</strong> 
      モニターを2つ持っていない場合、
      中～大画面の別のデバイス（タブレット、スマートフォン）はお持ちでしょうか？
      お持ちの場合は、小さい方のデバイスをビデオ会議の接続に、
      大きい方のデバイス（ノートパソコンやデスクトップ）では
      これから学習するツールを使ってみてください。</li>
    <li><strong>スクリーンの分割:</strong> 
      デバイスとモニターが1つずつしかない場合は、
      2つのウィンドウ（ビデオ会議のウィンドウとワークショップで使用するツールの1つ）を一緒に開く練習をしてください。
      両方を画面にフィットさせる方法や、
      キーボードのショートカットを使って、ウィンドウを切り替える方法を試してみてください。
      事前に試して、自分に最適なやり方を決めておいてください。</li>
  </ul>
  この<a href="https://carpentries.org/blog/2020/06/online-workshop-logistics-and_screen-layouts/" target="_blank">
    ブログ記事</a> に、ワークショップ中に見る画面を設定する方法についての詳細が記載されています。
</p>
